@font-face {
    font-family: 'fontawesome-webfont';
    src: url('./fontawesome-webfont.woff2') format('woff2'),
         url('./fontawesome-webfont.woff') format('woff');
}

.hello {
    color: red;
    font-family: 'fontawesome-webfont';
}